.about{
    width: 280px;
    padding: 10px 0;
    margin-left: 9px;
}
.intrest{
    width: 280px;
    padding: 10px 0;
    margin-left: 9px;
}
.about p{
    font-size: 14px;
    padding: 6px 0;
    line-height: 20px;
    color: white;
}
.intrest p{
    font-size: 14px;
    padding: 6px 0;
    line-height: 20px;
    color: white;
}

.about h4{
    font-size: 18px;
    color: white;
}
.intrest h4{
    font-size: 18px;
    color: white;
}